.NavBar {
    display: flex;
    align-items: center;
  }
  
  /* Menu padrão */
  .NavBar__menu {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  /* Botões */
  .NavBar__button {
    background: none;
    border: none;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    padding: 5px;
    font-family: "Inter", sans-serif;
    transition: color 0.3s ease;
    text-decoration: none;
    display: inline-block; 
    vertical-align: middle; 
}

  
  .NavBar__button:hover,
  .NavBar__button a:hover {
    color: #0044ff;
  }
  
  .NavBar__button::after,
  .NavBar__button a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #0077ff;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .NavBar__button:hover::after,
  .NavBar__button a:hover::after {
    width: 100%;
  }
  
  /* Botão hamburguer */
  .NavBar__hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    z-index: 999;
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .NavBar {
      flex-direction: column;
      align-items: stretch;
      position: relative;
      width: 100%;
    }
  
    .NavBar__hamburger {
      display: block;
      margin-left: auto;
      padding: 10px;
      z-index: 1001;
    }
 
    .NavBar__menu {
        flex-direction: column;
        background-color: #1f1f1f;
        width: 180px; 
        position: absolute;
        top: 100%;
        right: 0; 
        padding: 20px;
        gap: 20px;
        z-index: 1000;
        box-sizing: border-box;
        align-items: flex-start;
        border-radius: 0 0 4px 4px;
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease, opacity 0.3s ease;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      }
  
      .NavBar__menu.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }
  
      .NavBar__button {
        font-size: 18px;
        color: white;
        text-decoration: none;
        width: 100%;
        padding: 8px 0;
        transition: color 0.2s ease;
        position: relative; 
      }
      
      .NavBar__button::after,
      .NavBar__button a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        width: 100%;
        height: 2px;
        background-color: #00bcd4;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
        }
        
      .NavBar__button:hover::after,
      .NavBar__button a:hover::after  {
        transform: scaleX(1);
        }
  }